<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.TextMailnChat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
     <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.TextMailnChat.Email"
            android:label="EMAIL" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.EMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.example.TextMailnChat.Text"
            android:label="Text Message" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.TEXT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.TextMailnChat.Way2SMS"
            android:label="Way2Sms" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.WAY2SMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.example.TextMailnChat.Prefs"
            android:label="Preferences" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="com.example.TextMailnChat.About"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="com.example.TextMailnChat.Readmsg"
            android:label="Inbox" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.READMSG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="com.example.TextMailnChat.Readmsgutil"
            android:label="Messages" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.READMSGUTIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.TextMailnChat.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.TextMailnChat.Settings" /> 
        
        <activity
            android:name="com.example.TextMailnChat.BluetoothChat"
            android:label="Bluetooth chat" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.BLUETOOTHCHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name="com.example.TextMailnChat.DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="com.example.TextMailnChat.DEVICELISTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>